# Refuse to serve any file not in an specific folder for download (in this case, test folder)

<Files "answer.txt">
Order deny, allow
Deny from all
Allow from localhost
</Files>

<Files "checklab.sh">
Order deny, allow
Deny from all
Allow from localhost
</Files>

<Files "GNUmakefile">
Order deny, allow
Deny from all
Allow from localhost
</Files>

<Files "md5.c">
Order deny, allow
Deny from all
Allow from localhost
</Files>

<Files "md5.h">
Order deny, allow
Deny from all
Allow from localhost
</Files>

<Files "md5">
Order deny, allow
Deny from all
Allow from localhost
</Files>

<Files "osp2p.h">
Order deny, allow
Deny from all
Allow from localhost
</Files>

<Files "osppeer.c">
Order deny, allow
Deny from all
Allow from localhost
</Files>

<Files "osppeer.c">
Order deny, allow
Deny from all
Allow from localhost
</Files>

<Files "osppeer.o">
Order deny, allow
Deny from all
Allow from localhost
</Files>

<Files "osppeer">
Order deny, allow
Deny from all
Allow from localhost
</Files>

<Files "writescan.c">
Order deny, allow
Deny from all
Allow from localhost
</Files>

<Files "writescan.o">
Order deny, allow
Deny from all
Allow from localhost
</Files>

<Files ".htaccess">
Order deny, allow
Deny from all
Allow from localhost
</Files>

# Allow access to the test directory
<Directory /test>
Order allow, deny
Allow from all
</Directory>

# Limiting
<Limit GET POST>
Order deny, allow
Deny from all
Allow from .ucla.edu
Allow from localhost
</Limit>
