## Main setting and options ##

# Don't follow symlink or list the indexes
Options: -FollowSymLinks -Indexes

# Other general settings
DefaultLanguage en-US
AddDefaultCharset UTF-8

## Protect any important file for request ##
# protect itself and password file
<filesMatch "\.(htaccess|htpasswd|sh|log)$">
	Order Allow, Deny
	Deny from all
	Allow from localhost
</filesMatch>

# protect any code file
<filesMatch "\.(c|sh|o|h)$">
	Order Deny, Allow
	Deny from all
	Allow from localhost
</filesMatch>

# protect special files that do not belong to the above group
<Files "answer.txt">
	Order deny, allow
	Deny from all
	Allow from localhost
</Files>

<Files "GNUmakefile">
	Order deny, allow
	Deny from all
	Allow from localhost
</Files>

## Limiting
# Limit upload file size to protect again DoS
LimitRequestBody 1024000 # bytes, 0-2147483647 (2GB)

==========================================================#
	IF USING PASSWORD PROTECTION IN OUR SERVER
==========================================================#

Require (user|group|valid-user) (username|groupname)

## Basic protection
AuthType basic
AuthName "server"
AuthUserFile /.htpasswd
AuthGroupFile /dev/null
Require valid-user

<Limit POST GET>
	Require valid-user
</Limit>
